<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Quiz
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" class="header">
    <ion-toolbar>
      <ion-title size="large">
        <div class="header__title">
          <span>Quiz</span>

          <ion-label class="header__toggle">
            Randomize
            <ion-toggle [checked]="isRandomized" (ionChange)="toggleQuiz($event)"></ion-toggle>
          </ion-label>
        </div>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <ion-card class="question" (click)="visitTheoryPage()">
      <ion-card-header *ngIf="question" class="header">
        <ion-card-subtitle class="question__id">
          <span>Question №{{ question.id }}</span>

          <span *ngIf="question.level">
            Level:
            <ion-text
              [color]="question.level === questionLevels.junior && 'success' ||
                question.level === questionLevels.middle && 'warning' || 'danger'">
                  {{ question.level }}
                </ion-text>
          </span>
        </ion-card-subtitle>

        <ion-card-title class="question__name">{{ question.name }}</ion-card-title>
      </ion-card-header>
      <!-- skeleton -->
      <ion-card-header *ngIf="!question">
        <ion-card-subtitle>
          <ion-skeleton-text style="width: 40%; max-width: 150px;" animated></ion-skeleton-text>
          <ion-skeleton-text style="width: 40%; max-width: 150px;" animated></ion-skeleton-text>

        </ion-card-subtitle>
        <ion-card-title>
          <ion-skeleton-text animated></ion-skeleton-text>
          <ion-skeleton-text animated></ion-skeleton-text>
          <ion-skeleton-text animated></ion-skeleton-text>
          <ion-skeleton-text animated></ion-skeleton-text>
          <ion-skeleton-text animated></ion-skeleton-text>
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content *ngIf="question">
        <ul class="tags-list">
          <li *ngFor="let tag of question.tags">
            <ion-badge color="warning">{{ tag }}</ion-badge>
          </li>
        </ul>
      </ion-card-content>
      <!-- skeleton -->
      <ion-card-content *ngIf="!question">
        <ul class="tags-list">
          <li>
            <ion-badge color="warning">
              <ion-skeleton-text style="width: 10vw; max-width: 50px;" animated></ion-skeleton-text>
            </ion-badge>
          </li>
        </ul>
      </ion-card-content>

      <div class="progress-wrapper">
        <p>Progress: {{ question ? (percent$ | async) : 0 }}%</p>
        <ion-progress-bar *ngIf="question" [value]="((percent$ | async) || 0) / 100"></ion-progress-bar>
        <ion-progress-bar *ngIf="!question" type="indeterminate"></ion-progress-bar>
      </div>

      <div class="buttons">
        <ion-button (click)="getNextQuestion(); $event.stopPropagation();" color="tertiary" fill="outline" size="large">Skip</ion-button>
        <ion-button (click)="submitAnswer(); $event.stopPropagation();" color="tertiary" size="large">Check your answer</ion-button>
      </div>
    </ion-card>
  </div>
</ion-content>
