<ion-header class="quiz-header">
  <ion-toolbar>
    <div class="quiz-header__toggle">
      <span class="quiz-header__label">{{ 'QUIZ.RANDOMIZE' | translate }}</span>
      <ion-toggle [checked]="isRandomized" (ionChange)="toggleQuiz($event)"></ion-toggle>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="quiz">
    <div class="quiz__body" (click)="visitTheoryPage()">
      @if (question) {
        <div class="quiz__meta">
          <span class="quiz__chip quiz__chip--id">{{ 'QUIZ.NUMBER' | translate: { id: question.id } }}</span>
          @if (question.level) {
            <span class="quiz__chip quiz__chip--level quiz__chip--{{ levelColor }}">
              {{ question.level }}
            </span>
          }
        </div>

        <h1 class="quiz__question">{{ question.name }}</h1>

        @if (question.tags?.length) {
          <ul class="quiz__tags">
            @for (tag of question.tags; track tag) {
              <li>{{ tag }}</li>
            }
          </ul>
        }

        <span class="quiz__hint">
          {{ 'QUIZ.TAP_TO_READ' | translate }}
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </span>
      }

      <!-- skeleton -->
      @if (!question) {
        <div class="quiz__meta">
          <ion-skeleton-text class="quiz__chip-skeleton" animated></ion-skeleton-text>
          <ion-skeleton-text class="quiz__chip-skeleton" animated></ion-skeleton-text>
        </div>

        <div class="quiz__question-skeleton">
          <ion-skeleton-text style="width: 90%;" animated></ion-skeleton-text>
          <ion-skeleton-text style="width: 70%;" animated></ion-skeleton-text>
          <ion-skeleton-text style="width: 80%;" animated></ion-skeleton-text>
        </div>
      }
    </div>
  </div>
</ion-content>

<ion-footer class="quiz-footer">
  <div class="quiz-footer__inner">
    <div class="quiz-footer__progress">
      <div class="quiz-footer__progress-head">
        <span>{{ 'QUIZ.PROGRESS' | translate }}</span>
        <span>{{ question ? (percent$ | async) : 0 }}%</span>
      </div>

      @if (question) {
        <ion-progress-bar
          class="quiz-footer__bar"
          [value]="((percent$ | async) || 0) / 100">
        </ion-progress-bar>
      } @else {
        <ion-progress-bar class="quiz-footer__bar" type="indeterminate"></ion-progress-bar>
      }
    </div>

    <div class="quiz-footer__actions">
      @if (isRandomized) {
        <ion-button
          class="quiz-footer__skip"
          (click)="getNextQuestion()"
          color="medium"
          fill="clear"
          size="large">
          {{ 'QUIZ.SKIP' | translate }}
        </ion-button>
      }

      <ion-button
        class="quiz-footer__check"
        [disabled]="!question"
        (click)="submitAnswer()"
        expand="block"
        size="large">
        {{ 'QUIZ.CHECK_ANSWER' | translate }}
      </ion-button>
    </div>
  </div>
</ion-footer>
