:host::ng-deep ion-title[size="large"] {
  height: fit-content;
}

.header {
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    width: 100%;
  }

  &__toggle {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.container {
  margin-top: 2rem;
}

.question {
  border: 1px solid rgba(var(--ion-color-medium-rgb), 0.3);
  margin: 0;

  & .question__id {
    font-size: .9rem;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
  }

  & .question__name {
    font-size: 2rem;
    font-weight: 600;
  }
}

.tags-list {
  list-style: none;
  padding: 0;

  & ion-badge {
    font-size: .9rem;
    font-weight: 500;
    border-radius: 4px;
  }

  & li {
    display: inline-block;

    &:nth-child(n) {
      margin-right: .5rem;
    }

    &:nth-last-child(1) {
      margin-right: 0;
    }
  }
}

.progress-wrapper {
  padding: 20px;

  ion-progress-bar {
    border-radius: 5px;
    height: 1rem;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: .5rem;
  padding: 20px;

  & ion-button {
    flex: 1;
  }
}

@media (max-width: 768px) {
  .question__name {
    font-size: 1.8rem !important;
  }

  .question {
    margin: 0 1rem;
  }
}
