<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'QUESTION_INFO.TITLE' | translate: { id: question?.id } }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <section class="content">
      <h1 class="question-title">{{ question?.name }}</h1>
      @if (question?.level || lastUpdated) {
        <div class="question-meta">
          @if (question?.level) {
            <span class="level-pill level-pill--{{ levelColor(question.level) }}">{{ question.level }}</span>
          }
          @if (lastUpdated) {
            <span class="last-updated">{{ 'QUESTION_INFO.UPDATED' | translate: { date: lastUpdated } }}</span>
          }
        </div>
      }
      <pre class="pre-text" [innerHTML]="question?.answer"></pre>
    </section>

    <ion-item
      class="complete-item"
      lines="none"
      detail="false"
      >
        <ion-checkbox
          [(ngModel)]="isQuestionCompleted"
          (ionChange)="markAsComplete($event)"
          justify="space-between"
          labelPlacement="start"
          color="success"
          >
          {{ 'QUESTION_INFO.MARK_COMPLETE' | translate }}
        </ion-checkbox>
    </ion-item>

    @if (!redirectedFromQuiz) {
      <div class="navigation-buttons">
        <ion-button
          class="nav-btn nav-btn--prev"
          (click)="goToPrevQuestion()"
          [disabled]="isFirstQuestion()"
          fill="clear"
          expand="block"
          size="large"
          >
          <ion-icon name="chevron-back" slot="start"></ion-icon>
          {{ 'QUESTION_INFO.PREV' | translate }}
        </ion-button>
        <ion-button
          class="nav-btn nav-btn--next"
          (click)="goToNextQuestion()"
          [disabled]="isLastQuestion()"
          fill="clear"
          expand="block"
          size="large"
          >
          {{ 'QUESTION_INFO.NEXT' | translate }}
          <ion-icon name="chevron-forward" slot="end"></ion-icon>
        </ion-button>
      </div>
    }
  </div>
</ion-content>
