.dark {
  :host::ng-deep code {
    background-color: #121212bf;
    border-color: #d5d5d54f;
  }

  :host ::ng-deep .code {
    color: #6cd16c;
  }
}

.pre-text {
  font-family: sans-serif;
  white-space: inherit;
  line-height: 1.5;
}

:host ::ng-deep code {
  background-color: #b0b0b0b8;
  display: inline-block;
  padding: 0 2px;
  word-break: break-word;
  word-wrap: break-word;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  border-color: #5251514f;
}

:host ::ng-deep .code {
  border: 0;
  border-radius: 0;
  display: block;
  color: #236d23;
  text-shadow: 0 0 #656565;
  white-space: pre;
  overflow: auto;
  padding-bottom: 1rem;
  font-family: monospace;
  font-weight: 500;
}

:host ::ng-deep .info {
  background-color: #ababab26;
  padding: 1rem;
  border-left: 4px solid;

  &.info--orange {
    border-color: var(--ion-color-warning);
  }

  &.info--blue {
    border-color: var(--ion-color-primary);
  }
}

:host ::ng-deep .accent {
  border-bottom: 2px dotted;
  font-weight: bold;
  font-size: 1.1rem;
}

:host ::ng-deep .deep-dive {
  background-color: #c6c6c630;
  color: var(--ion-color-warning);
  display: inline-block;
  padding: 0.5rem;
  font-weight: bold;

  &::before {
    content: '\26A0\ ';
  }
}

:host ::ng-deep img {
  display: block;
  margin: 1rem auto;
  min-width: 70%;
}

:host ::ng-deep .load-answer-error {
  color: var(--ion-color-danger);

  &__emoji {
    text-align: center;
    line-height: 0;
    font-size: 5rem;
  }

  &__link {
    color: inherit;
  }
}

ion-button {
  margin: 1rem;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;

  & ion-button {
    flex: 1;
  }
}

.container {
  background: none;
}

@media (min-width: 768px) {
  .container {
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem auto;
  }
}
