<ion-header>
  <ion-toolbar>
    <ion-title>Question №{{ question?.id }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <section class="content">
      <h1>{{ question?.name }}</h1>
      <pre class="pre-text" [innerHTML]="question?.answer"></pre>
    </section>

    <ion-item
      class="item-transparent"
      lines="none"
      detail="false"
      >
      <ion-label>Mark question as complete</ion-label>
      <ion-checkbox [(ngModel)]="isQuestionCompleted" (ionChange)="markAsComplete($event)" slot="end" color="success"></ion-checkbox>
    </ion-item>

    @if (!redirectedFromQuiz) {
      <div class="navigation-buttons">
        <ion-button
          (click)="goToPrevQuestion()"
          [disabled]="isFirstQuestion()"
          color="danger"
          fill="outline"
          expand="block"
          size="large"
          >
          < Prev
        </ion-button>
        <ion-button
          (click)="goToNextQuestion()"
          [disabled]="isLastQuestion()"
          color="success"
          fill="outline"
          expand="block"
          size="large"
          >
          Next >
        </ion-button>
      </div>
    }
  </div>
</ion-content>
