<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="quiz">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>{{ 'TABS.QUIZ' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="questions">
      <ion-icon name="book"></ion-icon>
      <ion-label>{{ 'TABS.THEORY' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>{{ 'TABS.PROFILE' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
